@font-face {
  font-family: 'Runescape';
  src: url('fonts/runescape_chat_font.eot?') format('eot'),
    url('fonts/runescape_chat_font.woff') format('woff'),
    url('fonts/runescape_chat_font.ttf') format('truetype'),
    url('fonts/runescape_chat_font.svg#Runescape-Chat-Font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body,
html {
  font-family: 'Runescape';
  background-image: url('../images/bg.png');
  background-position: center;
  background-size: cover;
  color: yellow;
  height: 100%;
  margin: 0;
  text-align: center;
}

caption {
  font-size: 48px;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
  font-weight: normal;
  font-size: 70px;
  text-align: center;
}

table {
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  width: 80%;
}

tbody {
}

td {
  margin: 0 auto;
  text-align: center;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.calculator {
  margin: 0 auto;
  width: 60%;
  height: 80%;
}

.icon {
  cursor: pointer;
  object-fit: cover;
  opacity: 0.2;
}

.icon-box {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 5%;
}

.icon-box:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.input-wrapper {
  display: block !important;
}

.level {
  margin: auto 10% auto auto;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}

.lvl-box {
  margin: auto;
  margin-bottom: 1%;
  width: auto;
}

.options-table {
  display: table;
  margin: auto;
  margin-bottom: 1%;
}

.skill {
  width: auto;
  height: 70%;
  float: left;
  top: 0;
  bottom: 0;
  margin: auto;
}

.skills-row {
  width: 80%;
  height: 10%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stat {
  background-color: #545454;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  margin: 0.5%;
  display: flex;
  justify-content: center;
  height: 80%;
  width: 30%;
}

.tabs {
  -webkit-padding-start: 0;
}

.tabs-wrapper > ul li { 
  display: inline-block;
}

.tabs-wrapper > div { 
  display: none;
}

.tabs-wrapper > div.active { 
  display: block;
}

.text {
  display: block;
  background-color: black;
  border-color: yellow;
}

.total {
  font-size: 18px;
  height: 40%;
  margin: 5% 0;
}

.unlocked {
  opacity: 1 !important;
}

.wide {
  height: auto;
  width: 45%;
  margin-top: 8%;
  margin-bottom: 8%;
}

.xp-box {
  display: inline-block;
}

.xp-table {
  border-collapse: collapse;
  font-size: 14px;
  font-weight: normal;
  height: auto;
  width: 60%;
}

.xp-table td,
.xp-table th {
  border: 1px solid black;
  padding: 8px;
}

.xp-table tr:nth-child(odd) {
  background-color: #5b4f41;
}

.xp-table tr:nth-child(even) {
  background-color: #4c463f;
}

#tabs {
  margin: auto;
}

#xp {
  margin: 1% auto;
}

@media only screen and (min-width: 768px) {
  table {
    display: inline-block;
    margin: 0 2%;
  }

  td {
    height: 5.5%;
    width: 5.5%;
  }

  .stat {
    width: 15%;
  }

  .tab {
    display: inline-block;
    height: 72px;
    width: auto;
  }

  .table-3 {
    width: 20%;
  }

  .table-4 {
    width: 25%;
  }

  .table-6 {
    width: 30%;
  }
}

@media only screen and (min-width: 1440px) {
  .items-wrapper {
    margin-bottom: 30px;
  }

  .stat {
    width: 10%;
  }

  .total {
    font-size: 24px;
  }

  .username {
    font-size: 24px;
  }
}
