@font-face {
  font-family: 'Runescape';
  src: url('fonts/runescape_chat_font.eot?') format('eot'),
    url('fonts/runescape_chat_font.woff') format('woff'),
    url('fonts/runescape_chat_font.ttf') format('truetype'),
    url('fonts/runescape_chat_font.svg#Runescape-Chat-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  font-family: 'Runescape';
  background-image: url('../images/bg.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  margin: 0;
  text-align: center;
}

caption {
  font-size: 48px;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
  font-weight: normal;
  font-size: 70px;
  text-align: center;
}

table {
  margin: 0 auto;
  height: 100%;
}

tbody {
  height: 100%;
}

td {
  margin: 0 auto;
  text-align: center;
  height: 100px;
  width: 100px;
  padding: 5px;
}

.barrows {
  width: 100%;
}

.gwd {
  width: 30%;
}

.gwd-title {
  white-space: nowrap;
}

.icon {
  cursor: pointer;
  height: 100%;
  max-width: 100%;
  opacity: 0.2;
}

.unlocked {
  opacity: 1 !important;
}

@media only screen and (min-width: 768px) {
  table {
    display: inline-block;
  }
  .barrows {
    width: 45%;
  }
}
